/* здесь используйте глобальные переменные */
$primary-font: "Oswald", "Arial", sans-serif;
$primary-dark-color: #000000;
$primary-light-color: #ffffff;
$secondary-font: "Lato", "Verdana", sans-serif;
$secondary-color: #444444;
$special-dark-grey: #222222;
$special-light-black: #111111;

$tablet: 768px;
$desktop: 1440px;
