.advantages {
  margin: 0 20px;

  @media (min-width: $tablet) {
    margin: 0 30px 46px;
  }

  @media (min-width: $desktop) {
    width: 1220px;
    margin: 0 auto;
  }
}

.advantages__container {}

.advantages__list {
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: $desktop) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.advantages__item {
  background-color: #f2f2f2;
  padding: 30px 33px 18px 20px;
  margin-bottom: 20px;
  position: relative;

  @media (min-width: $tablet) {
    background-color: #f2f2f2;
    padding: 77px 0 55px 52px;
    margin-bottom: 30px;
  }

  @media (min-width: $desktop) {
    width: 570px;
    padding: 77px 61px 59px 52px;
    margin: 0;
    box-sizing: border-box;
    margin-bottom: 71px;
  }
}

.advantages__item--slim::before {
  content: "";
  width: 50px;
  height: 53px;
  background: url("../../icons/stack.svg#cat-back-1") no-repeat center;
  position: absolute;
  left: 20px;
  top: 21px;

  @media (min-width: $tablet) {
    width: 200px;
    height: 211px;
    left: auto;
    right: 63px;
    top: 80px;
  }

  @media (min-width: $desktop) {
    width: 100px;
    height: 106px;
    left: 52px;
    right: auto;
    top: 41px;
  }
}

.advantages__item--pro::before {
  content: "";
  width: 67px;
  height: 50px;
  background: url("../../icons/stack.svg#cat-back-2") no-repeat center;
  position: absolute;
  left: 12px;
  top: 24px;

  @media (min-width: $tablet) {
    width: 268px;
    height: 200px;
    left: auto;
    right: 29px;
    top: 92px;
  }

  @media (min-width: $desktop) {
    width: 134px;
    height: 100px;
    left: 33px;
    right: auto;
    top: 47px;
  }
}

.advantages__item-title {
  margin: 0;
  margin-bottom: 29px;
  padding-left: 70px;
  font-family: $primary-font;
  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
  color: $primary-dark-color;
  text-transform: uppercase;

  @media (min-width: $tablet) {
    padding: 0;
    margin-bottom: 24px;
    font-size: 36px;
    line-height: 36px;
  }

  @media (min-width: $desktop) {
    margin-left: 162px;
    margin-bottom: 73px;
  }
}

.advantages__item-description {
  margin: 0;
  margin-bottom: 43px;

  @media (min-width: $tablet) {
    margin: 0 316px 53px 0;
  }

  @media (min-width: $desktop) {
    margin: 0 0 27px;
  }
}

.advantages__item-link {
  font-family: $primary-font;
  font-size: 16px;
  line-height: 16px;
  text-decoration: none;
  color: $primary-dark-color;
  text-transform: uppercase;
  position: relative;

  @media (min-width: $tablet) {
    font-size: 20px;
    line-height: 30px;
  }
}

.advantages__item-link::after {
  content: "";
  width: 39px;
  height: 12px;
  background: url("../../icons/stack.svg#icon-arrow") no-repeat center;
  position: absolute;
  right: -50px;
  top: 6px;

  @media (min-width: $tablet) {
    right: -58px;
    top: 8px;
  }
}

.advantages__item-link:hover::after {
  background-image: url("../../icons/stack.svg#icon-arrow-longer");
  right: -54px;
}

.advantages__item-link:focus {
  outline-color: rgba(104, 183, 56, 0.7);
}

.advantages__item-link:focus::after {
  background-image: url("../../icons/stack.svg#icon-arrow-longer");
  right: -54px;
}

.advantages__item-link:active {
  opacity: 0.3;
}

.advantages__item-link:active::after {
  background-image: url("../../icons/stack.svg#icon-arrow-longer");
  right: -54px;
}
