.canon {
  @media (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  @media (min-width: $desktop) {
    margin-bottom: 0;
  }
}

.canon__list {
  margin: 0;
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: start;

  @media (min-width: $tablet) {
    margin: 0;
    gap: 43px;
  }
}

.canon__wrapper {
  min-width: 124px;
  text-align: center;
  border-radius: 3px;
  box-sizing: border-box;
  position: relative;

  @media (min-width: $tablet) {
    width: 162px;
    text-align: center;
  }

  @media (min-width: $desktop) {
    margin-bottom: 62px;
  }
}

.canon__item-name {
  font-family: $primary-font;
  color: $primary-dark-color;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  padding: 13px 20px 17px;
  border: 1px solid #cdcdcd;

  @media (min-width: $tablet) {
    font-size: 30px;
    line-height: 37px;
    padding: 15px 8px 17px;
  }
}

.canon__item-description {
  margin: 0 auto;
  margin-top: -9px;
  font-size: 12px;
  line-height: 12px;
  width: 80px;
  padding: 0 4px;
  background-color: #eaeaea;
  box-sizing: border-box;

  @media (min-width: $tablet) {
    font-size: 14px;
    line-height: 14px;
    min-width: 135px;
    padding: 0 5px;
    background-color: #ffffff;
  }

  @media (min-width: $desktop) {
    width: auto;
    background-color: #f2f2f2;
  }
}

.canon__list-price {
  display: flex;
  flex-flow: row-reverse wrap;
  justify-content: center;
  margin: 0;
  margin-bottom: 20px;

  @media (min-width: $tablet) {
    margin: 0;
    flex-direction: column-reverse;
    gap: 8px;
    align-items: end;
  }

  @media (min-width: $desktop) {
    flex-direction: row-reverse;
    gap: 63px;
  }
}

.canon__item-name-price {
  font-family: $primary-font;
  color: $primary-dark-color;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;

  @media (min-width: $tablet) {
    font-size: 20px;
  }
}

.canon__item-description-price {
  margin: 0;
  font-family: $primary-font;
  color: $primary-dark-color;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;

  @media (min-width: $tablet) {
    font-size: 20px;
  }
}
