.footer-box {}

.footer-box__engagement {
  margin: 0;
  font-family: $primary-font;
  font-size: 16px;
  line-height: 20px;
  color: $special-light-black;
  text-transform: uppercase;

  @media (min-width: $tablet) {
    font-size: 20px;
    line-height: 26px;
  }
}

.footer-box__address {
  margin: 0;
  line-height: 20px;
  font-style: normal;

  @media (min-width: $tablet) {
    font-size: 16px;
    text-align: end;
  }

  @media (min-width: $desktop) {
    text-align: start;
  }
}

.footer-box__city {
  @media (min-width: $tablet) {
    display: inline-block;
    margin-top: 20px;
  }
}
