.main-nav {
  @media (min-width: $tablet) {
    border: none;
    position: relative;
  }
}

.main-nav__toggle {
  width: 25px;
  height: 24px;
  border: none;
  position: absolute;
  top: 20px;
  right: 21px;
  cursor: pointer;
  display: none;
}

.main-nav--opened .main-nav__toggle {
  display: block;
  background: url("../../icons/stack.svg#icon-menu-cross") no-repeat center;

  @media (min-width: $tablet) {
    display: none;
  }
}

.main-nav--closed .main-nav__toggle {
  display: block;
  background: url("../../icons/stack.svg#icon-menu-lines") no-repeat center;

  @media (min-width: $tablet) {
    display: none;
  }
}

.main-nav__list {
  border-top: 1px solid #e6e6e6;
  list-style: none;

  @media (min-width: $tablet) {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    gap: 35px;
    border: none;
    position: relative;
    top: 0;
    background: none;
  }
}

.main-nav--closed .main-nav__list {
  display: none;

  @media (min-width: $tablet) {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    gap: 35px;
    border: none;
    position: relative;
    top: 0;
    background: none;
  }
}

.main-nav--opened .main-nav__list {
  display: block;
  width: 100%;
  position: absolute;
  top: 65px;
  left: 0;
  background-color: #ffffff;
  z-index: 5;

  @media (min-width: $tablet) {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    gap: 35px;
    border: none;
    position: relative;
    top: 0;
    background: none;
  }
}

