.map {
  position: relative;

  @media (min-width: $desktop) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.map__google {
  height: 362px;

  @media (min-width: $tablet) {
    height: 400px;
  }

  @media (min-width: $desktop) {
    height: 100%;
  }
}

.map__google iframe {
  width: 100%;
  height: 362px;

  @media (min-width: $tablet) {
    width: 100%;
    height: 400px;
  }

  @media (min-width: $desktop) {
    height: 100%;
  }
}

.map__picture {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
}

.map__image {
  margin: 0 auto;
  display: block;
}
