.page {}

.page__body {
  margin: 0;
  padding: 0;
  font-family: $secondary-font;
  font-size: 14px;
  line-height: 18px;
  color: $secondary-color;
  font-weight: 400;

  @media (min-width: $tablet) {
    font-size: 16px;
    line-height: 24px;
  }

  @media (min-width: $desktop) {
    margin: 0 auto;
    padding-top: 55px;
  }
}
