.stock {
  padding: 0;
  margin-bottom: 40px;
  position: relative;

  @media (min-width: $tablet) {
    padding: 0 30px;
    margin-bottom: 80px;
  }

  @media (min-width: $desktop) {
    padding: 0;
    margin-bottom: 102px;
  }
}

.stock::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #68b738;
  left: 0;
  top: 17px;
}

.stock__title {
  margin: 0;
  margin-bottom: 32px;
  padding: 0 40px 0 20px;
  font-family: $primary-font;
  font-size: 24px;
  line-height: 24px;
  color: $primary-dark-color;
  font-weight: 400;
  position: relative;
  width: fit-content;
  background-color: #ffffff;

  @media (min-width: $tablet) {
    padding: 0 40px;
    font-size: 32px;
    line-height: 32px;
    margin-bottom: 66px;
  }

  @media (min-width: $desktop) {
    margin-left: calc(50% - 650px);
    padding: 0 40px;
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 74px;
  }
}

.stock__title::before {
  @media (min-width: $desktop) {
    width: 70px;
    height: 2px;
    left: -110px;
    top: 18px;
  }
}

.stock__title::after {
  @media (min-width: $desktop) {
    width: calc(100% - 294px);
    left: 294px;
    top: 18px;
  }
}

.stock__description {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 280px;
  margin-bottom: 24px;
  text-align: center;
  font-family: $primary-font;
  font-size: 16px;
  line-height: 24px;
  color: $primary-dark-color;

  @media (min-width: $tablet) {
    max-width: 632px;
    font-size: 24px;
    line-height: 32px;
  }

  @media (min-width: $desktop) {
    max-width: 1140px;
    margin-bottom: 22px;
  }
}

.stock-form {
  padding: 0 20px;

  @media (min-width: $tablet) {
    display: flex;
    margin: 0 38px;
  }

  @media (min-width: $desktop) {
    width: 752px;
    margin: 0 auto;
  }
}

.stock-field {
  margin: 0;
  margin-bottom: 16px;
  padding: 13px;
  width: 100%;
  min-height: 56px;
  font-family: $primary-font;
  font-size: 20px;
  line-height: 30px;
  color: $secondary-color;
  text-transform: uppercase;
  border: 1px solid #cdcdcd;
  box-sizing: border-box;

  @media (min-width: $tablet) {
    margin: 0;
  }
}

.stock-label {}

.stock-button {
  width: 100%;
  min-height: 56px;
  font-size: 20px;
  line-height: 26px;
  border: none;

  @media (min-width: $tablet) {
    max-width: 256px;
    box-sizing: border-box;
  }

  @media (min-width: $desktop) {
    max-width: 256px;
    box-sizing: border-box;
  }
}
